/* .DogList-dog-name {
  text-decoration: none;
} */


.DogList-pic {
  width: 15rem;
}

a h3 {
  text-decoration: none;
  color: black;
}

a p {
  text-decoration: none;
}

a {
  text-decoration: none;
}
